<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="https://png2.cleanpng.com/sh/fdb987b25544360cc0ccddf830309d3d/L0KzQYq3VsA5N6J0hJH0aYP2gLBuTfxwb5CyiAJ4dHnpiX73jCJ1aZNxfZ93ZYT6f8PyTfdzaaFtgdV8LYP3grbojflvb15yRdN1dHX1frL7igZmNZpzjtd8dH3ofsX6TgJ2fKVqhtRucnewd7F5hP9vNZpzjtd8dD24c7fqVfY3bWE7SqdvNz6zQ4O8UMA6OmI6TqI5NEO2R4W3UsUzNqFzf3==/kisspng-logo-spotify-portable-network-graphics-streaming-m-alternative-investments-ruttenberg-gordon-invest-5cfc5f6e0625f7.0325009215600433740252.png" alt="spotify logo">
    </header>
    <main>
        <div id="app">
            <select @change="populateTable" v-model="genderSelected" name="genreselect" id="genreselect">
                <option selected value="All">All</option>
                <option v-for="(element, index) in genres" :value="element">{{element}}</option>
            </select>
            <div class="container">
                <div v-for="(element, index) in data" :key="index" class='card_container'>
                    <div class='card'>
                        <img :src="element.poster" :alt="element.title">
                        <h2 class='title'>{{element.title}}</h2>
                        <p class='subtitle'>{{element.author}}</p>
                        <p class='subtitle'>{{element.year}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <img src="" alt="">
    <footer></footer>


    <!-- includo vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- includo axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- includo il mio script che userò per la chiamata axios -->
    <script src="scripts/script.js"></script>
</body>
</html>